.activityContainer {
    width: 40%;
    height: 80%;
    padding: 2rem;
    padding-top: 4rem;
    background: #fff;
    box-sizing: border-box;
    position: relative;
}

.activityItem {
    width: 100%;
    height: 80px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(12deg, #bebebeb8, #e7e7e7ac);
    border-radius: var(--borderRadiusDefault);
    transition: 1s;
}

.activityItem:hover {

    transform: translate(1.1rem);

    p, span {
        color: #fff;
    }

}

.createColor:hover {
    background: linear-gradient(12deg, #088e2cb8, #06bf28ac);
}

.archiveColor:hover {
    background: linear-gradient(12deg, #c1b61eb8, #e2e207ac);
}

.activityItem p {
    color: var(--gray1);
    font-size: 1.5rem;
}

.activityItem span {
    color: var(--orangePrime);
    font-size: 2.5rem;
    font-weight: 700;
}

.endContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
}