

.collapseTask {
    width: 20%;
    border-radius: 10px;
    background: transparent;/*#838282c4;*/
    z-index: auto;
    position: absolute;
    right: 25px;
    top: 15px;
    border-radius: 10px 10px 0 0;
}
.collapseTask:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.collapseTask:first-child {
    margin-top: 2px;
    border-radius: 10px;
}
.collapseTask:not(:last-child) {
    margin-bottom: 10px;
}

.collapseTask .title {
    cursor: pointer;
    padding: 0px;
    font-size: 2rem;
    color: var(--grayPrime);
}


.collapseTask .btnControl {
    width: 220px;
    display: flex;
    justify-content: space-between;
}


.collapseTask .item {
    width: 120%;
    height: 61px;
    text-align: center;
    margin: 0;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--gray4);
    border-radius: 10px;
    font-weight: 700;
    border-top: 1px solid #3f3f3f31;
    position: relative;
}

.collapseTask .item svg {
    font-size: 25px;
}

.edit {
    color: var(--green);
    
    svg {
        color: var(--green);
    }
}

.remove {

    color: var(--red);
    
    svg {
        color: var(--red);
    }
}


/* Permite o redimensionamento horizontal e vertical */
.removerSimboloAlca {
    resize: both; 
}

/* Remove o símbolo de alça no navegador Chrome/Safari */
.removerSimboloAlca::-webkit-resizer { display: none; }
  
/* Remove o símbolo de alça no navegador Firefox */
.removerSimboloAlca::-moz-resizer { display: none; }
  
/* Remove o símbolo de alça no navegador Edge */
.removerSimboloAlca::-ms-resizer { display: none; }


input[type="checkbox"] {
    display: none;
}

.switch {
    position: relative;
    background: #777;
    width: 60px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    background: var(--whiteDefault);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}

input[type="checkbox"]:checked ~ .switch {
    background: var(--orangePrime);
}

input[type="checkbox"]:checked ~ .switch .slider {
    transform: translateX(30px);
}