/* Login */
.loginContainer {
    width: 50%;
    height: 100%;
    background: var(--whiteDefault);
}

.loginForm {
    width: 80%;
    height: 80%;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    box-sizing: border-box;
}

.loginForm h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.loginForm .inputGroupLogin {
    width: 100%;
    height: 20%;
    margin-bottom: 0.8rem;
}

.loginForm .inputGroupLogin label {
    width: 100%;
    font-size: 1.5rem;
}

.loginForm .inputGroupLogin svg {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.loginForm .inputGroupLogin input {
    width: 94%;
    height: 2rem;
    padding: 1rem;
    margin-top: 0.8rem;
    background: var(--grayDefault1);
    color: var(--whiteDefault);
    border: none;
    outline: none;
    transition: 1s;
    font-size: 1.2rem;
}

.btnGroupLogin {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.btnGroupLogin .btnLogin {
    background: linear-gradient(30deg, var(--orange1), var(--orangeFire));
    border: none;
    width: 100%;
    height: 75%;
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #fff;
}

.btnGroupLogin p span {
    color: var(--orangeFire);
    font-weight: 600;
}

.btnGroupLogin p {
    font-size: 1.2rem;
    color: var(--blackDefault)
}

.btnGroupLogin .btnRegister {
    background: var(--orangeFire);
    border: none;
    width: 100%;
    height: 50%;
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #fff;
}
















.registerContainer {
    width: 50vw;
    height: 100vh;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
}

.registerContainer h2 {
    align-self: center;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    top: 10%;
    padding: 0;
    position: absolute;
}

.registerContainer form {
    width: 80%;
    height: 80%;
    margin: 1rem auto;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 14px 15px 33px 8px rgba(194,186,194,0.71);
    border-radius: var(--borderRadiusDefault);
}

.btnGroupRegister {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.btnGroupRegister .btnRegister {
    background: linear-gradient(30deg, var(--orange1), var(--orangeFire));
    border: none;
    width: 100%;
    min-height: 70px;
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: #fff;
}

.btnGroupRegister p {
    font-size: 1.2rem;
    color: var(--blackDefault)
}

.btnGroupRegister p span {
    color: var(--orangeFire);
    font-weight: 600;
}

.passwordConfirm {
    color: red;
    margin: 0.4rem 0 1rem 1rem;
    font-weight: 500;
}

