section.section {
    height: auto;
    width: 100%;
    background: var(--gray3);
    box-sizing: border-box;
}

.headerMenu {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.containerDefault {
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto; 
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}


.containerList {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
}

.btnCreateNewList {
    background: #EE8000;
    border: none;
    width: 200px;
    height: 80px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.addListBtn {
    background: #c3c2c10d;
    width: 30%;
    height: 550px;
    margin: 1rem 2rem 4rem 0;
    padding: 0;
    border-radius: var(--borderRadius);
    box-sizing: border-box;
}

.addListBtn button {
    appearance: none;
    background: #cacaca;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
    transition: 0.8s;
}
.addListBtn button:hover {
    background: #aaaaaad4;
    transform: scale(0.95);
}
.addListBtn button svg {
    font-size: 4rem;
    color: var(--whiteDefault);
}