section.section {
    height: auto;
    width: 100%;
}

.headerMenu {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    padding-bottom: 2rem;
} 

.headerMenu h2 {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 2rem;
}

.containerDefault {
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto; 
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.formEditTask {
    width: 60%;
    height: 800px;
    background: var(--gray6);
    margin: 2rem auto 0 auto;
    padding: 2rem;
    box-shadow: 14px 15px 33px 8px rgba(194,186,194,0.71);
    display: flex;
    flex-direction: column;
}

.formEditTask h2 {
    align-self: center;
    font-size: 2rem;
    font-weight: 500;
}

.formEditTask h2 span {
    color: #ee8000;
    font-weight: 700;
    font-size: 2.5rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.inputGroup label {
    margin-left: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--black);
}

.inputGroup input {
    width: 95%;
    height: 2rem;
    padding: 1rem;
    margin-top: 0rem;
    background: var(--grayDefault1);
    color: var(--gray1);
    border: none;
    outline: none;
    transition: 1s;
    font-size: 1.2rem;
}

.inputGroup textarea {
    resize: vertical;
    border: none;
    border-radius: 0;
    width: 95%;
    height: 2rem;
    padding: 1rem;
    background: var(--grayDefault1);
    color: var(--gray1);
    transition: 1s;
    font-size: 1.2rem;
    outline: none;
}


.dateTimeBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.inputGroupDateTime {
    width: 48%;
    height: 8rem;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
}

.inputGroupDateTime label {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--black) 
}

.inputGroupDateTime .inputDateTime {
    width: 90%;
    height: 2rem;
    padding: 1rem;
    margin-top: 0.8rem;
    background: var(--grayDefault1);
    color: var(--gray1);
    border: none;
    outline: none;
    transition: 1s;
    font-size: 1.2rem;
}

.inputGroupDateTime .inputDateTime {
    background: rgba(0, 0, 0, 0.1);
}


.btnFlex {
    display: flex;
    justify-content: space-around;
}

.formEditTask .btnForm {
    background: #EE8000;
    border: none;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 2rem;
    color: #fff;
    align-self: center;
}

.btnBack {
    color: var(--whiteDefault) !important;
    border: solid 3px #EE8000 !important;
}

.btnEdit {
    background: var(--greenDefault) !important;
}

.priorityBox {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    margin: 1rem 0 5rem 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priorityInputGroup {
    width: 45%;
    margin: 0;
    font-weight: 500;
}

.priorityInputGroup label {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
}

.priorityInputGroup h4 {
    font-size: 3.5rem;
}

.priorityDisc {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 800;
    color: #fff;
}

.priorityGroup {
    margin: 1rem 0;
    height: 100%;
    display: flex;
}

.inputGroup label {
    height: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--black);
}


.inputGroupPriority label {
    height: 100%;
    margin: 3rem 0 0 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--black);
}



select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.selectPriorityTask {
    background: #5a5a59b1;
    color: #fff;
    font-weight: 700;
    width: 80%;
    text-align: center;
    
    padding: 1rem;
    border: none;
    margin-top: 1rem;
    border-radius: var(--borderDefault);
    cursor: pointer;
}

.selectPriorityTask:focus {
    outline: none;
}

.selectPriorityTask select {
    display: none; /*hide original SELECT element: */
}
